<div class="container">

  <h1>Call of Papers</h1>

  <form [formGroup]="form">
    <div>
      <label for="titulo">Título:</label>
      <input type="text" formControlName="title">
    </div>
    <br>

    <div>
      <label for="resumo">Resumo:</label>
      <textarea formControlName="summary" rows="4"></textarea>
    </div>
    <br>

    <div>
      <label for="nome">Nome do autor:</label>
      <input type="text" formControlName="authorName">
    </div>
    <br>

    <div>
      <label for="email">E-mail:</label>
      <input type="email" formControlName="email">
    </div>
    <br>

    <div class="submit">
      <button type="submit" (click)="submit()">Enviar</button>
    </div>
  </form>

  <div class="lista">
    <button [routerLink]="['/lista']" routerLinkActive="router-link-active" class="btn-lista">
      Vizualizar lista de propostas
    </button>
  </div>
</div>
