<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="titulo">Título:</label>
      <input type="text" name="titulo" [(ngModel)]="titulo">
    </div>
    <br>

    <div>
      <label for="resumo">Resumo:</label>
      <input type="text" name="resumo" [(ngModel)]="resumo">
    </div>
    <br>

    <div>
      <label for="nome">Nome do autor:</label>
      <input type="text" name="nomeAutor" [(ngModel)]="nomeAutor">
    </div>
    <br>

    <div>
      <label for="email">E-mail:</label>
      <input type="email" name="email" [(ngModel)]="email">
    </div>
    <br>

    <button type="submit">Enviar</button>
  </form>
</div>

