<div class="container">
  <form>
    <div>
      <label for="titulo">Título:</label>
      <input type="text" name="titulo" [(ngModel)]="proposta.titulo">
    </div>
    <br>

    <div>
      <label for="resumo">Resumo:</label>
      <input type="text" name="resumo" [(ngModel)]="proposta.resumo">
    </div>
    <br>

    <div>
      <label for="nome">Nome do autor:</label>
      <input type="text" name="nomeAutor" [(ngModel)]="proposta.nomeAutor">
    </div>
    <br>

    <div>
      <label for="email">E-mail:</label>
      <input type="email" name="email" [(ngModel)]="proposta.email">
    </div>
    <br>

    <button type="submit" (click)="submit()">Enviar</button>
  </form>
</div>

