
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Definindo uma largura máxima para o formulário */
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Espaçamento entre os campos */
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  resize: vertical;
  min-height: 20px;
  max-height: 200px;
}

.submit, .lista{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista{
  padding-top: 10px;
}

.btn-lista{
  background-color: white;
  color: #0056b3;
  border: solid 1px #0056b3;
}

.btn-lista:hover{
  color: white;
}
