.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

table {
  width: 600px;
  font-size: 16px;
  table-layout: fixed;
}

thead {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;

}

th, td {
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
}

tbody tr {
  background-color: var(--table-color);
}

th {
  font-weight: bold;
}

td {
  border-top: 1px solid var(--border-color);
  word-wrap: break-word;
  white-space: normal;
}

button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-weight: bold;
  transition: 0.4s;
}

button:hover{
  cursor: pointer;
  background-color: var(--hover-color);
}


